:root {
    --cyan: hsl(180, 66%, 49%);
    --darkViolet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
    --lightBlue: lightBlue;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/*nav*/
nav{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    height: 5em;
    grid-column-gap: 0.5em;
    margin-bottom: 1em;
    padding-left: 7rem;
}

nav>div{
    display: flex;
    align-items: center;
}

.nav-heading img{
    margin-top: 0.4em;
    cursor: pointer;
}

.nav-sections>span{
    margin: 0 0.5em;
    color: var(--gray);
    font-size: 1e,;
    transition: all 250ms;
}

.nav-sections>span:hover{
    color: var(--veryDarkViolet);
    cursor: pointer;
}

.nav-buttons{
    display: flex;
    justify-content: center;
}

.nav-buttons button{
    border: none;
    margin: 0.1em;
    padding: 0.5em;
    width: 6em;
    font-weight: 700;
    font-size: 0.9em;
    border-radius: 1em;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.login{
    background-color: white;
    color: var(--grayishViolet);
}

.sign-up{
    background-color: var(--cyan);
    color: white;
}

.nav-buttons button:hover{
    color: white;
    background-color: var(--lightBlue);
    box-shadow: 3px 5px 4px gainsboro;
}

.burger-icon{
    display: none;
}

.burger-icon>div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--grayishViolet);
    transition: all 0.5s;
}

.burger-open .line1{
    transform: rotate(-45deg) translate(-4px, 1px);
}

.burger-open .line2{
    opacity: 0;
}

.burger-open .line3{
    transform: rotate(45deg) translate(-10px, -7px);
}

.burger-links{
    display: none;
    transition: transform 0.5s;
}

.slide{
    transform: translateX(0) !important;
}

@keyframes burger-menu-animation {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/*header*/
header{
    display: grid;
    grid-template-columns: 5fr 5fr;
    padding: 1rem 0 10rem 7rem;
}

#header-text{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 8em;
    box-sizing: border-box;
}

#header-text h1{
    font-size: 3.5em;
    line-height: 1.2;
    color: var(--veryDarkBlue);
    margin-bottom: 0;
}

#header-text p{
    color: var(--grayishViolet);
}

#header-image{
    display: flex;
    align-items: center;
}

#header-image img{
    width: 100%;
}

#get-started-btn {
    height: 40px;
    border: none;
    background-color: var(--cyan);
    color: white;
    border-radius: 20px;
    margin: 0.1em;
    padding: 0.5em;
    width: 8em;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#get-started-btn:hover{
    background-color: var(--lightBlue);
    box-shadow: 3px 5px 4px gainsboro;
}

/*main*/

main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding-bottom: 5em;
}

#link-container{
    background-image: url(../images/bg-shorten-desktop.svg);
    height: 8em;
    width: 80%;
    border-radius: 0.75em;
    background-color: var(--darkViolet);
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#link-controls{
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#link-input{
    width: 70%;
    padding: 0.6em;
    font-size: 1em;
    margin: 0 1em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    color: var(--darkViolet)
}

.invalid-link-message{
    position: absolute;
    top: 100%;
    left: 7%;
    font-size: 0.8em;
    color: var(--red);
    display: none;
}

.display-block{
    display: block;
}

#link-button{
    padding: 0.6em;
    font-size: 1em;
    width: 15%;
    border-radius: 0.5em;
    border: none;
    background-color: var(--cyan);
    color: white;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

#link-button:hover{
    background-color: var(--lightBlue);
}

/*link-provider*/

#link-provider{
    width: 100%;
    margin-top: 5em;
}

.lp-child{
    min-height: 4em;
    border-radius: 0.5em;
    margin: 0.5em auto;
    width: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: 8fr 2fr 1fr;
    box-shadow: 5px 5px 5px gainsboro;
}

.lp-child>div{
    padding: 1em;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.original-link{
    color: var(--darkViolet);
}

.original-link,.short-link span{
    font-size: 0.8em;
}

.short-link{
    color: var(--cyan);
    justify-content: flex-end;
}

.lp-btn{
    justify-content: flex-end;
}

.lp-btn>button{
    width: 6em;
    font-size: 0.8em;
    height: 2.5em;
    background-color: var(--cyan);
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: all 250ms;
    outline: none;
}

.lp-btn>button:hover{
    box-shadow: 4px 4px 10px 1px gainsboro;
    background-color: var(--lightBlue);
}

/*stats*/

#stats-container{
    padding-top: 2em;
}

#stats-container::after{
    position: relative;
}

.sc-heading h2{
    text-align: center;
    color: var(--veryDarkViolet);
}

.sc-heading p{
    width: 61%;
    margin: auto;
    text-align: center;
    color: var(--grayishViolet);
}

#sc-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3em;
    position: relative;
}

.sc-child{
    height: 12em;
    width: 19em;
    margin: 0 1em;
    background-color: white;
    box-shadow: 4px 4px 10px 1px gainsboro;
    border-radius: 5px;
}

.sc-child:not(:last-child)::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 3.3%;
    top: 38%;
    left: 31.7%;
    background-color: var(--cyan);
}

.sc-child:nth-of-type(2){
    margin-top: 2.5em;
}

.sc-child:nth-of-type(2)::after{
    left: 65%;
    top: 53%;
}

.sc-child:nth-of-type(3){
    margin-top: 5em;
}

.sc-logo{
    margin-left: 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--darkViolet);
    transform: translateY(-50%);
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-logo img{
    width: 90%;
}

.sc-heading{
    padding-left: 1em;
}

.sc-info{
    padding: 1em 2em 1em 1.4em;
    font-size: 0.8em;
    color: var(--grayishViolet);
}

/*boost-section*/

#boost-section{
    background-image: url(../images/bg-boost-desktop.svg);
    height: 12em;
    background-color: var(--darkViolet);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.boost-heading{
    color: white;
}

.boost-heading h2{
    margin: 0.3em 0;
}

.boost-button #get-started-btn:hover{
    box-shadow: 4px 4px 10px 1px black;;
}

/*footer*/

footer{
    padding: 3em 4em;
    background-color: var(--veryDarkViolet);
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

.footer-heading{
    margin: auto;
}

.footer-heading img{
    cursor: pointer;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-links ul{
    list-style: none;
    font-size: 0.85em;
}

.footer-links ul a{
    color: white;
    text-decoration: none;
}

.footer-links ul>a{
    display: block;
    margin: 10px 0;
}

.footer-links ul>li>a{
    display: block;
    margin: 5px 0;
    color: var(--gray);
}

.footer-links ul>li>a:hover{
    color: var(--cyan);
}

.footer-social-sites{
    padding: 1em;
}

.footer-social-sites span{
    color: white;
    font-size: 1.2em;
    padding: 0.5em;
}

.footer-social-sites span:hover{
    color: var(--cyan);
}

.backGroundColorLightBlue{
    background-color: var(--lightBlue) !important;
}

.backgroundColorDarkViolet{
    background-color: var(--darkViolet) !important;
}

/*media-query*/

@media screen and (max-width: 768px) {

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1em;
    }

    .nav-sections, .nav-buttons{
        display: none;
    }

    .burger{
        padding-right: 1em; 
    }

    .burger-icon{
        display: block;
        cursor: pointer;
    }

    .burger-links{
        display: block;
        position: fixed;
        top: 10%;
        right: 0%;
        height: 100%;
        width: 50%;
        background-color: white;
        z-index: 100;
        box-shadow: -2px 0 5px 0px gainsboro;
        border-radius: 1.5em 0 0 0em;
        transform: translateX(110%);
    }

    .burger-links ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .burger-links ul li{
        padding: 1em;
    }

    .burger-links ul li a{
        text-decoration: none;
        color: var(--veryDarkBlue);
    }

    .burger-links ul li button{
        width: 8em;
        height: 3em;
        border-radius: 0.5em;
        background-color: var(--cyan);
        border: none;
        font-size: 0.8em;
        color: white;
    }

    .burger-links ul li .login{
        background-color: var(--darkViolet);
    }

    header{
        display: flex;
        padding: 0 0 5em 0;
        flex-wrap: wrap-reverse;
    }

    #header-image{
        padding-left: 0.9em;
    }

    #header-text{
        padding: 0;
        justify-content: center;
    }

    #header-text h1{
        text-align: center;
        font-size: 2em;
    }

    #header-text p{
        padding: 0 2em;
    }

    #header-text button{
        margin: 1em;
    }

    main{
        padding-bottom: 0;
    }

    #link-container{
        height: 9em;
        transform: translateY(-50%);
    }

    #link-controls{
        flex-direction: column;
    }

    .invalid-link-message{
        top: 132%;
        left: 8%;
        font-size: 0.6em;
    }

    #link-button{
        width: 78%;
        margin: 0.5em;
    }

    .lp-child{
        display: block;
    }

    .lp-btn>div{
        padding: 0.5em;
    }

    .short-link{
        justify-content: center;
    }

    .lp-btn{
        justify-content: center;
    }

    #stats-container{
        padding: 2em 1em;
    }

    .sc-child{
        width: 90%;
        margin: 2em 1em !important;
    }

    .sc-child:not(:last-child)::after{
        height: 42px;
        width: 10px;
        top: 29.1%;
        left: 48.5%;
    }

    .sc-child:nth-of-type(2)::after{
        top: 62.5%;
    }

    .sc-heading{
        padding: 0;
    }

    .sc-heading p{
        width: 100%;
    }

    .sc-logo{
        margin: auto;
    }

    .sc-heading, .sc-info{
        text-align: center;
    }
    
    footer{
        display: block;
    }

    .footer-links{
        display: block;
    }

    .footer-heading {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-links ul {
        font-size: 1em;
        text-align: center;
        padding: 0;
    }

    .footer-social-sites {
        padding: 0;
        text-align: center;
    }
}